*{
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Istok Web';
}

body {
    background-color: #DC4B08;
    margin: 0;
}

.wrap {
    z-index: 0;
    margin: 2em;
}
.header-right {
    z-index: 2;
    float: right;

    a {
        color: #c84204;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 2rem;

        &:hover{
            color: black;
            text-decoration: underline;
        }
    }
}
main {
    z-index: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    .logo {
        display: block;
        margin: 0;
        position: absolute;
        top: 35%;
        left: 50%;
        -ms-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%);
    }
    .search {
        font-size: 1.5rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 6em;
        background:white;
        padding:14px;
        input[type=text]{
            background:transparent;
            color: #333333;
            border:none;
        }
        a {
            text-decoration: none;
            padding: 0.2em;
            border-radius: 6em;
            &:hover{
                color: black;
                text-decoration: underline;
            }
        }
    }
}
.slogo {
    margin-top: 5%;
    margin-left: 15%;
    transform: translate(-10%, -15%);
}
.tacoLocation {
    padding: 2em;
    z-index: 5;
    background: #F9EC7A;
    margin: 0;
    position: absolute;
    width: 30%;
    height: 64%;
    left: 60%;
}
.homePrint{
    margin: 0 auto;
}
.nacho {
    img{
        z-index: -2;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
    }
    .inner-rect{
        z-index: -1;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90%;
        height: 85%;
        border: 6em solid;
        border-color: #F9EC7A;
        margin: 0 auto;
    }
}

.zillowResults{
    background: #F9EC7A;
    position:fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    padding: 2em;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    .menuClose{
        text-align: left;
    }
    .zilResText{
        text-align: right;
    }
}

.open{
    transform: translateY(0%);
}